<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="starter"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  <title>My Static Site</title>
	  <link rel="alternate" href="{{url+'/feed.xml'}}" type='application/rss+xml'title=locals.description/>
	  <link rel="stylesheet" href="{{url+contents.css['main.css'].url}}"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>